source https://nuget.org/api/v2
redirects: on

nuget FSharp.Formatting 3.1.0
nuget FSharp.Core 4.7.2
nuget jQuery 1.8.3
github hakimel/reveal.js:master
github zjffun/reveal.js-mermaid-plugin:main

group Build
  source https://nuget.org/api/v2    
  nuget FAKE 5.16.0
  nuget FSharp.Compiler.Tools 10.2.3
  nuget SourceLink.Fake 1.1

group Test
  source https://nuget.org/api/v2
  nuget NUnit ~> 3 
  nuget NUnit3TestAdapter
  github forki/FsUnit FsUnit.fs